{
  "server": true,
  "disable_host_node_id": true,
  "disable_update_check": true,
  "enable_script_checks": true,
  "rejoin_after_leave": true,
  "reconnect_timeout": "8h",
  "leave_on_terminate": false,
  "skip_leave_on_interrupt": true,
  "bootstrap_expect": 1,
  "raft_snapshot_interval": "1m",
  "ui": true
}
